head
    block meta
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    block title
        title Bose
    block fonts
        include fonts
    block main-scripts
    block styles
        link(rel="stylesheet" href="/src/styles/main.scss")