.layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 10fr 1fr 1fr 1fr;
    gap: 20px;
}

@media (min-width: 768px) {
    h1::after {
        content: "Tablet";
    }

    .layout {
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 1fr 10fr 1fr;

        .header { 
            order: 1;
            grid-column: span 2;
        }

        .navigation { 
            order: 2;
            grid-column: span 2;
        }

        .sidebar { order: 3; }
        .main { order: 4; }
        .ads { order: 5; }
        .footer { order: 6; }
    }
}

@media (min-width: 1280px) {
    h1::after {
        content: "Desktop";
    }

    .layout {
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr 1fr 10fr 1fr;

        .header { 
            order: 1;
            grid-column: span 3;
        }

        .sidebar { 
            order: 2;
            grid-row: span 2;
        }

        .navigation { 
            order: 3;
            grid-column: span 1;
        }

        .ads { 
            order: 4; 
            grid-row: span 2;
        }

        .main { order: 5; }
        
        .footer { 
            order: 6; 
            grid-column: span 3;
        }
    }

    
}