* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: 500;
    text-align: center;
    padding: 10px;
}

h1::after {
    content: "Mobile";
}

.header,
.navigation,
.main, 
.sidebar,
.ads,
.footer {
    border: 2px solid red;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
}
