.contact(id="contact_us")
    h2.contact__heading.heading--primary Would You Love To Work With Us?
    button.button--primary 
        img(src= sourcePath + "mail.svg" alt="mail") 
        | Contact Us
