* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(#f1f3ff, #cbd4ff);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    background: #151a2e;
}

.header-logo {
    height: 60px;
    width: 60px;
    margin: 20px 0  0 20px;
    border-radius: 50%;
}

.sidebar__header {
    position: relative;
}

/* Toggle */
.sidebar__toggler {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

    height: 35px;
    width: 35px;

    background: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s ease;
}

.sidebar__toggler:hover {
    background-color: grey;
}

/* List */
.sidebar__nav-list,
.sidebar__nav-dropdown-list,
.sidebar__nav-inner-dropdown-list {
    list-style: none;
}

.sidebar__nav-item,
.sidebar__nav-dropdown-item {
    margin: 5px 20px;
}

/* Reference */
.sidebar__nav-item-reference,
.sidebar__nav-dropdown-item-reference {
    position: relative;
    display: block;
    padding: 10px;
    width: 100%;
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
    border-radius: 10px;
}

.sidebar__nav-item-reference:hover,
.sidebar__nav-dropdown-item-reference:hover {
    color: #151A2E;
    background: #eef2ff;
}

/* Label */
.sidebar__nav-item .sidebar__nav-item-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 12px;
}

.icon--centrify {
    left: 0;
    top: 50%;
    transform: translateY(15%);
}

.icon--right {
    float: right;
    transition: transform 0.25s ease;
}

/* Secondary list */
.sidebar__nav-list--secondary {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

/* Dropdown Menu */
.dropdown-icon {
    margin: 0 -4px 0 auto;
}

.sidebar__nav-dropdown-list,
.sidebar__nav-inner-dropdown-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease;
}

.sidebar__nav-dropdown-item-reference {
    padding-left: 20px;
    /* text-align: center; */
}

.sidebar__dropdown-wrapper input[type="checkbox"],
.sidebar__inner-dropdown-wrapper input[type="checkbox"] {
    display: none;
}

.sidebar__dropdown-wrapper input:checked ~ .sidebar__nav-dropdown-list {
    max-height: 400px;
}

.sidebar__dropdown-wrapper input:checked + label .icon--right {
    transform: rotate(180deg);
}

/* Inner Dropdown */

.sidebar__inner-item-label {
    margin-left: 10px;
}

/* Active Highlight */
.sidebar__nav-item input:checked + .sidebar__nav-item-reference {
    background-color: #2563eb;
    color: #fff;                  
    border-left-color: #60a5fa;    
    font-weight: 600;
}


