* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-weight: 400;
}

.tree {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 100px);
    gap: 10px;
    /* Встановлюємо змінну */
    counter-reset: node;
    /* grid-auto-rows: 1fr; */

    .node {
        width: 100%;
        height: 100%;
        position: relative;

        font-size: 36px;
        color: white;
        background-color: yellow;


        counter-increment: node;
    }

    .node::before {
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translateX(-50%);
        content: counter(node);
    }

    .node1 { grid-column: span 12;}

    .node2,
    .node3 {
        grid-column: span 6;
    }

    .node4,
    .node5,
    .node6 {
        grid-column: span 4;
    }

    .node7,
    .node8,
    .node9,
    .node10 {
        grid-column: span 3;
    }

    .node11,
    .node12,
    .node13,
    .node14,
    .node15,
    .node16 {
        grid-column: span 2;
    }
}