- const sourcePath = "/src/assets/"

//- Header
- const headerNavItems = [{href: "#", text: "Home"}, {href: "#recommended", text: "Recommended"}, {href: "#categories", text: "Categories"}, {href: "#how-to-buy", text: "How to buy"}, {href: "#contacts", text: "Contacts"}]

//- Recommended Items
- const recommendedItems = [{href: "#", img: "speaker-1.png", name: "Base portable Smart Speaker", type: "Smart Home", price: "$ 399.00"}, {href: "#", img: "speaker-2.png", name: "SoundLink Flex Bluetooth speaker", type: "Portable Bluetooth", price: "$ 149.00"}, {href: "#", img: "speaker-3.png", name: "SoundLink Color Bluetooth speaker 2", type: "Portable Bluetooth", price: "$ 129.00"}]

//- Categories
- const categoriesItems = [{href: "#", wide_img: "earbuds.png", narrow_img: "headphones.svg", category: "Headphones & Earbuds"}, {href: "#", wide_img: "speakers-1.png", narrow_img: "speakers-2.png", category: "Speakers"}, {href: "#", wide_img: "audio-sunglasses-2.png", narrow_img: "audio-sunglasses-1.png", category: "Audio Sunglasses"}, ]

//- Why buy from us
- const offers = [{text: "Free 2-day shipping and returns"}]
- const credentials = [{label: "Phone", content: "+1 234 5555-55-55"}, {label: "Email", content: "hello@miami.com"}, {label: "Address", content: "400 first ave suite 700 Minneapolis, MN 55401"}]