header.header.wrapper
    include logo
    input(type="checkbox" id="burger-toggle" class="header__burger-toggle")
    label(for="burger-toggle" class="header__burger-icon")
        span
    include header__nav