* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --gap: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: var(--gap);
    margin: 0 20px;
    grid-template-areas: 
        "top top"
        "main main";

    .gallery__img {
        width: 100%;
        height: 100%;
    }

    .gallery__big-img {
        /* grid-column: span 2;
        grid-row: span 2; */
        grid-area: main;
    }

}

@media (min-width: 576px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
            "top top top top"
            "main main main main";
    }
}
@media (min-width: 768px) {
    .gallery {
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
            "left main main main right"
            "left main main main right"
            "bottom bottom bottom bottom bottom";
    }
}

