section.hero
    //- img.hero__background(src= sourcePath + "hero-background.png" alt="background")
    .hero__background
    .hero__content.wrapper
        img(src= sourcePath + "sound-waves.svg" alt="sound-waves")
        h1 
            | The world shades.
            br
            | Your music shines.