
- const sourcePath = "/src/assets/"

//- Header
- const headerNavItems = [{href: "#", text: "Home"}, {href: "#about_us", text: "About Us"}, {href: "#our_works", text: "Our Works"}, {href: "#journal", text: "Journal"}, {href: "#contact_us", text: "Contact"}]

//- Main
- const worksGalleryItems = [{href: "#", img: "logo.png", alt: "img"}, {href: "#", img: "logo.png", alt: "img"}, {href: "#", img: "logo.png", alt: "img"}, {href: "#", img: "logo.png", alt: "img"}, {href: "#", img: "logo.png", alt: "img"}, {href: "#", img: "logo.png", alt: "img"}, {href: "#", img: "logo.png", alt: "img"}, {href: "#", img: "logo.png", alt: "img"}, {href: "#", img: "logo.png", alt: "img"}]

//- What We Do
- const whatWeDoItems = [{img: "patrick.png", alt: "img", heading: "Web Design", paragraph: "Lorem ipsum dolor sit"}, {img: "patrick.png", alt: "img", heading: "Web Design", paragraph: "Lorem ipsum dolor sit"}, {img: "patrick.png", alt: "img", heading: "Web Design", paragraph: "Lorem ipsum dolor sit"}, {img: "patrick.png", alt: "img", heading: "Web Design", paragraph: "Lorem ipsum dolor sit"}]

//- Journal
- const journalItems = [{href: "#", img: "shh.png", alt: "img", date_n_theme: "Oct 13, 2014 / Identity", heading: "Web Technologies", text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Non reiciendis voluptas molestias possimus accusantium, veniam totam accusamus iusto provident! Odit sunt sint quam, iure magnam veniam inventore atque culpa quibusdam."}, {href: "#", img: "shh.png", alt: "img", date_n_theme: "Oct 13, 2014 / Identity", heading: "Web Technologies", text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Non reiciendis voluptas molestias possimus accusantium, veniam totam accusamus iusto provident! Odit sunt sint quam, iure magnam veniam inventore atque culpa quibusdam."}, {href: "#", img: "shh.png", alt: "img", date_n_theme: "Oct 13, 2014 / Identity", heading: "Web Technologies", text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Non reiciendis voluptas molestias possimus accusantium, veniam totam accusamus iusto provident! Odit sunt sint quam, iure magnam veniam inventore atque culpa quibusdam."}, {href: "#", img: "shh.png", alt: "img", date_n_theme: "Oct 13, 2014 / Identity", heading: "Web Technologies", text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Non reiciendis voluptas molestias possimus accusantium, veniam totam accusamus iusto provident! Odit sunt sint quam, iure magnam veniam inventore atque culpa quibusdam."}]

//- Footer
- const footerSocials = [{href: "#", img: "flowers.png", alt: "img"}, {href: "#", img: "flowers.png", alt: "img"}, {href: "#", img: "flowers.png", alt: "img"}, {href: "#", img: "flowers.png", alt: "img"}, {href: "#", img: "flowers.png", alt: "img"}]