header.header.wrapper
    img.header__logo(src= sourcePath + "logo.svg" alt="logo")
    .header__right
        a.header__contact
            img(src= sourcePath + "phone-call.svg" alt="contact-us")
        
        input#burger-toggle.header__burger-toggle(type="checkbox")
        label.header__burger-icon(for="burger-toggle")
            span
        include header__nav
        