footer.footer 
    p 2025 Skubach Vitalii. All Rights Reserved.
    .footer__socials 
        each item in footerSocials
            a(href= item.href)
                img(src= sourcePath + item.img alt= item.alt)